@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue\ Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeue\ Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueMedium.ttf') format('truetype');
  font-weight: 500;
}

/* .background {
  padding: 1%;
  background: url(./Vector.jpg) center bottom/cover no-repeat;
  height: 100vh;
  position: relative;
} */




/* Introuction Section */
.introduction-grid {
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 100vw;
  height: 100vh;
  background: linear-gradient( #ffffff, #e3e3e3, #999999); 
}

.introduction {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.introduction-title {
  font-size: 100px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  background-image: linear-gradient(to bottom, #898989, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1.5px transparent;
  -webkit-text-stroke: 1.5px transparent;
  text-shadow: 0px 8px 0 rgba(0,0,0,0.2);
  color: rgba(255,255,255,1);
}

.introduction-sub-title {
  font-size: 75px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  margin-top: 0;
}

.introduction-paragraph {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  color: #777777;
  font-size: 40px;
  margin: auto;
  max-width: 70vw;
  margin-bottom:75px;
}

.introduction-projects-button {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  color: #777777;
  font-size: 35px;
  max-width: 70vw;
  margin-right: 20px;
  color: #242424;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.introduction-resume-button {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 35px;
  max-width: 70vw;
  margin-left: 20px;
  color: #565656;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.introduction-projects-button:hover{  
  /* box-shadow: 0px 0px 100px rgb(255,255,255, 1);
  background-color: rgb(209, 209, 209); */
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  color: rgba(255, 255, 255, 1);
  transition: color 1s;
}

.introduction-resume-button:hover {
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  color: rgba(255, 255, 255, 1);
  transition: color 1s;

}

/* Projects Section */
.projects-grid {
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  max-width: 100vw;
  max-height: 100vh;
  background: linear-gradient( #999999, #e2e2e2, #e8e8e8);
  padding-bottom: 7vh;
}

.projects {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  text-align: center;
  justify-items: center;
  margin: auto;
}

.projects-title-text {
  margin: 0;
  justify-self: center;
}

.projects-header-title {
  color: white;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
}

.projects-header-sub-title {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #7B7B7B;
  text-align: center;
}

.projects-title-github-link {
  color: #444444;
  cursor: pointer;
  text-decoration: none;
}

.projects-title-github-link:hover {
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  color: rgba(255, 255, 255, 1);
  transition: color 1s;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  width: 404px;
  height: 429px;
  border-radius: 0px;
  border: 1px solid transparent; /* set a solid border with the same width as the gradient border */
  border-image: linear-gradient( rgba(255,255,255,1), rgba(52,52,52, 0.66)); /* set the border image to a horizontal linear gradient from red to blue */
  border-image-slice: 1; /* ensure the entire border is filled with the gradient */
}

.paragraph-container {
  min-height: 250px;
  margin: 10px 20px 0px 20px;
}

.card-title {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  color: #333333;
  font-size: 50px;
  padding: 0;
  margin: 15px;
}

.card-summary {
  padding: 0;
  margin: 0;
  font-size: 20px;  
  color:#009deb ;
}

.card-paragraph {
  color: #777777;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  padding: 0 0 auto 0;
  margin: 0 0 auto 0;
  text-align: center;
}

.card-technologies {  
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-technology {
  width: auto;
  padding: 5px; 
  border-radius: 5px;
  color: rgba(0,0,0,0.5);
  background-color: #DCDCDC;
  margin-left: 3px;
  margin-right: 3px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.card-git {
  width: 45px;
  height: 45px;
}

.card-website {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  height: 45px;
  opacity: 90%; 
}

.projects-button {
  color: rgba(0,0,0,0.6); 
  font-size: 14px;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 50px;
  padding: 5px;
  cursor: pointer;
} 

.projects-button:hover {
  box-shadow: 0px 0px 30px rgb(255,255,255, 1);
  background-color: rgb(235, 235, 235);
  color: #6e6e6e;
  transition: box-shadow 1s;
}


/* Contact Section */
.contact-grid {
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  max-width: 100vw;
  height: 100vh;
  background: linear-gradient( #e8e8e8, #cecece, #999999);
}

.contact {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.contact-title {
  margin-bottom: 5vh;
}
.contact-paragraph {
  width: 70vw;
  color: #777777;
  font-size: 25px;
  margin: auto;
  word-spacing: 1px;
  margin-bottom: 5vh;
}

.contact-icons {
  margin-bottom: 10vh;
}

.contact-icon {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-git {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-git:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.contact-email {
  width: 115px;
  height: 115px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-email:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.contact-li {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-li:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.contact-button {
  margin-top: 50px;
  color: #5F5F5F;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 30px;
  cursor: pointer;
}

.contact-button:hover {
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  color: rgba(255, 255, 255, 1);
  transition: color 1s;
}


@media only screen and (max-height: 2500px) {

  .introduction-grid {
    height: 100vh;
  }

  .projects-grid {
    padding: 0;
  }

  .contact-grid {
    height: 90vh;
  }

  
}

@media only screen and (max-width: 1500px) {

  .introduction-grid {
    height: 100vh;
  }

  .projects-grid {
    padding: 0;
  }

  .contact-grid {
    height: 100vh;
  }
}

@media only screen and (max-width: 1200px) {

  .header-text-image {
    width: 70vw;
    height: 20vh;
  }

  .introduction-sub-title {
    font-size: 60px;
  }

  .introduction-paragraph {
    font-size: 30px;
    margin-bottom: 0;
    max-width: 60vw;
    width: 90vw;
  }

  .small-flex {
    margin-top: 10vh;
  }


  .introduction-projects-button {
    font-size: 25px;
  }

  .introduction-resume-button {
    font-size: 25px;
  }

  
  .projects-title-text {
    width: 30vw;
    height: 14vh;
  }

  .projects-header-sub-title {
    font-size: 25px;
    max-width: 95vw;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 210vh;
  }

  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .card {
    width: 90vw;
    height: auto;
    margin: auto;
    padding-bottom: 5vh;
    margin-top: 2vh;
  }

  .paragraph-container {
    margin: 0;
    padding: 0;
  }

  .contact-title {
    width: 40vw;
    height: 12vh;
  }

  .back-to-top-text {
    font-size: 25px;
  }

  .contact-git {
    height: 80px;
    width: 80px;
  }

  .contact-email {
    height: 75px;
    width: 75px;
  }

  .contact-li {
    height: 80px;
    width: 80px;
  }

}

@media only screen and (max-width: 1000px) {
  .header-text-image {
    margin-top: 5vh;
    height: 29vh;
    width: 85vw;
  }

  .introduction-paragraph {
    margin-bottom: 0;
    max-width: 95vw;
    width: 90vw;
  }

  .small-flex {
    margin: 0;
  }

  .introduction-projects-button {
    margin: 0;
  }

  .introduction-resume-button {
    margin: 0;
  }

  .projects-title-text {
    width: 80vw;
    height: 14vh;
  }

  .contact-title {
    width: 80vw;
    height: 12vh;
  }

  .contact-grid {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 1200px) and (max-height: 750px){
  .projects-grid {
    min-height: 260vh;
  }
}

@media only screen and (max-width: 500px) {
  .introduction-title {
    font-size: 65px;
  }
  
  .introduction-sub-title {
    margin-top: 20px;
    font-size: 35px;
  }

  .introduction-paragraph {
    font-size: 25px;
  }

  .small-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introduction-projects-button {
    margin: 0;
    margin-top: 40px;
  }

  .introduction-resume-button {
    margin-top: 30px;
  }

  .projects-header-title {
    font-size: 50px;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 240vh;
  }

  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 90vw;
    height: auto;
    margin: auto;
    padding-bottom: 5vh;
    margin-top: 2vh;
  }

  .contact-grid {
    height: 110vh;
  }

  .contact-title {
    font-size: 50px;
  }

  .contact-sub-title {
    background: linear-gradient(  #0084ff, #0084ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    font-size: 25px;
  }

  .contact-paragraph {
    width: 90vw;
    font-size: 20px;
  }

  .contact-icon {
    width: 45px;
    height: 45px;
  }

  .contact-button {
    width: 50vw;
    height: 7vh;
    font-size: 13px;
  }
}



@media only screen and (max-width: 450px) {
  .projects-grid {
    min-height: 210vh;
  }
}

@media only screen and (max-width: 390px) {
  .projects-grid {
    min-height: 240vh;
  }
}

@media only screen and (max-width: 350px) {

  .introduction-sub-title {
    font-size: 32px;
  }

  .projects-grid {
    min-height: 290vh;
  }

  .card-technology {
    font-size: 15px;
  }

  .card-title {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .card-paragraph {
    font-size: 18px;
  }

  .projects-button {
    margin: 0 20px 0 20px;
  }
}


