/* .background {
  padding: 1%;
  background: url(./Vector.jpg) center bottom/cover no-repeat;
  height: 100vh;
  position: relative;
} */


/* Introuction Section */
.introduction-grid {
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  max-width: 100vw;
  height: 100vh;
  background: url(./1.jpg) center bottom/cover no-repeat;
}

.introduction {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.introduction-title {
  color: white;
  font-size: 100px;
  padding: 0;
  margin: 0;
}

.introduction-sub-title {
  background: linear-gradient(  #74e6ff, #0022fffd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: 500;
}

.introduction-paragraph {
  width: 375px;
  color: #CACACA;
  font-size: 17px;
  margin: auto;
  word-spacing: 1px;
}

.introduction-projects-button {
  margin-top: 40px;
  width: 170px;
  height: 40px;
  background: linear-gradient(  #1966ff99, #0045671d);
  border-color: #0095ff;
  border-style: groove;
  border-width: 2px;
  color: rgb(254, 254, 255);
  font-size: 14px;
  border-radius: 48px;
  margin-right: 20px;
}

.introduction-resume-button {
  margin-top: 20px;
  width: 170px;
  height: 40px;
  background: linear-gradient(  #114dff8f, #00095989);
  border-color: rgb(82, 131, 255);
  border-style:groove;
  border-width: 2px;
  color: white;
  font-size: 14px;
  border-radius: 48px;
}

.introduction-projects-button:hover{  
  background: linear-gradient(  #1966ff7f, #0045671d);
}

.introduction-resume-button:hover {
  background: linear-gradient(  #114dff7d, #00095953);
}

/* Projects Section */
.projects-grid {
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  max-width: 100vw;
  height: 100vh;
  background-color: #000C79;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.775),  rgba(0,0,0,0.775));
  padding-bottom: 7vh;
}

.projects {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  text-align: center;
  justify-items: center;
  margin: auto;
}

.projects-header-title {
  color: white;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
}

.projects-header-sub-title {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
  color:#001a78 ;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  width: 350px;
  height: 500px;
  border-radius: 15px;
  background: linear-gradient(  #a5e9ff17, #000026);
  border: #39468f7e;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  box-shadow: 0px 0px 0.5px 1px #00b3ff;
}

.paragraph-container {
  color: #7ca3ff;
  opacity: 0.7;
}

.card-title {
  background: linear-gradient(  #a4e7ff, #123089fd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 35px;
  padding: 0;
  margin: 15px;
}

.card-summary {
  padding: 0;
  margin: 0;
  font-size: 20px;  
  color:#008cffbd ;
}

.card-paragraph {
  width: 90%;
  margin: auto;
  /* color: #0028b7; */
}

.card-technologies {  
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-technology {
  width: auto;
  padding: 5px; 
  border-radius: 5px;
  color: #0098fdee; 
  background-color: rgb(15, 0, 54);
  margin-left: 3px;
  margin-right: 3px;
  font-size: 13px;
  font-weight: 600;
}

.card-git {
  width: 45px;
  height: 45px;
}

.card-website {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  height: 45px;
  opacity: 90%; 
}

.projects-button {
  margin-left: 10px;  
  margin-right: 10px; 
  width: 80px;
  height: 30px;
  color: #009dff; 
  background-color: rgba(1, 4, 106, 0.709);
  font-size: 14px;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
} 

.projects-button:hover {
  background-color: #020072;
}


/* Contact Section */
.contact-grid {
  padding: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  max-width: 100vw;
  height: 100vh;
  background: url(./1.jpg) center bottom/cover no-repeat;
}

.contact {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

.contact-title {
  color: white;
  font-size: 60px;
  padding: 0;
  margin: 0;
}

.contact-sub-title {
  background: linear-gradient(  #74e6ff, #0022fffd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 25px;
  font-weight: 500;
}

.contact-paragraph {
  width: 30vw;
  color: #CACACA;
  font-size: 16px;
  margin: auto;
  word-spacing: 1px;
}

.contact-icon {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-git {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-email {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-li {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact-button {
  margin-top: 50px;
  width: 170px;
  height: 40px;
  background: linear-gradient(  #1966ff99, #0045671d);
  border-color: #557ffd51;
  border-style: groove;
  border-width: 2px;
  color: white;
  font-size: 14px;
  border-radius: 48px;
}

.contact-button:hover {
  background: linear-gradient(  #1966ff72, #0045671d);
}

@media only screen and (max-width: 1200px) {
  
  .projects-header-title {
    font-size: 50px;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
  }

  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 90vw;
    height: auto;
    margin: auto;
    padding-bottom: 5vh;
    margin-top: 2vh;
  }

}


@media only screen and (max-width: 500px) {
  .introduction-title {
    font-size: 50px;
  }
  
  .introduction-sub-title {
    font-size: 25px;
  }

  .introduction-paragraph {
    max-width: 50vw;
    word-spacing: 0px;
  }

  .projects-header-title {
    font-size: 50px;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
  }

  .projects {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 90vw;
    height: auto;
    margin: auto;
    padding-bottom: 5vh;
    margin-top: 2vh;
  }

  .contact-grid {
    height: 110vh;
  }

  .contact-title {
    font-size: 50px;
  }

  .contact-sub-title {
    font-size: 20px;
  }

  .contact-paragraph {
    width: 90vw;
  }

  .contact-icon {
    width: 45px;
    height: 45px;
  }

  .contact-button {
    width: 50vw;
    height: 7vh;
    font-size: 13px;
  }
}


